%html
  %head
    %link{ :rel => "stylesheet", :type => "text/css", :href => "css/bootstrap.css" }
    %title
      = @page_title || 'PayPal Express API application'
  %body
    %h1
      = @pagetitle || ''

    = @message || ''
    = yield

%p
  %a{ :href => '/' }
    Back to top
