%p
- @purchase.errors.each do |err|
  %p
    = err

%table
  - @purchase.attributes.each_pair do |key, val|
    %tr
      %td
        = key
      %td
        = val

%a{ :href => "/approve/#{@purchase.id}?token=#{params[:token]}" }
  Approve
